.button {
    background-color: black;
    padding: 20px 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.button:hover {
    opacity: 0.5;
}
